[Unit]
Description=oVirt Node Dbus service
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/python /usr/libexec/node-dbus-backend -d

[Install]
WantedBy=multi-user.target

